<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@teams.each do |team|%>
<tbody>
  <tr>
    <td><%=team.id%></td>
    <td><%=team.first_name%></td>
    <td><%=team.last_name%></td>
    <td><%=team.position%></td>
  </tr>
</tbody>
<%end%>
