<div class="row">
    <div class="col-md-12">
        <h2 class="font-bold m-b-xs">
        </h2>
        <hr>

        <h4>Title</h4>
        <div class="small text-muted">
          <%=@team.first_name%>
        </div>
        <hr>

        <h4>Icon</h4>
        <div class="small text-muted">
          <%=@team.last_name%>
        </div>
        <hr>

        <h4>Description</h4>
        <div class="small text-muted">
          <%=@team.position%>
        </div>
        <hr>

    </div>
</div>
