<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@services.each do |service|%>
<tbody>
  <tr>
    <td><%=service.id%></td>
    <td><%=service.title%></td>
    <td><%=service.fa_icon%></td>
    <td><%=service.description%></td>
  </tr>
</tbody>
<%end%>
