
<div class="row">
    <div class="col-md-12">
        <h2 class="font-bold m-b-xs">
        </h2>
        <hr>

        <h4>Title</h4>
        <div class="small text-muted">
          <%=@service.title%>
        </div>
        <hr>

        <h4>Icon</h4>
        <div class="small text-muted">
          <%=@service.fa_icon%>
        </div>
        <hr>

        <h4>Category Name</h4>
        <div class="small text-muted">
          <%=@service.title%>
        </div>
        <hr>

    </div>
</div>
