<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@profiles.each do |profile|%>
<tbody>
  <tr>
    <td><%=profile.id%></td>
    <td><%=profile.first_name%></td>
    <td><%=profile.last_name%></td>
    <td><%=profile.job_title%></td>
    <td><%=profile.age%></td>
    <td><%=profile.email%></td>
    <td><%=profile.cv%></td>
    <td style="width:20%;"><%=image_tag(profile.image,:class=>"img-table-data")%></td>
    <td><%=profile.description%></td>
    <td><%=profile.user.username%></td>
    <td><%=profile.user.role%></td>
    <td class="table-action text-right">
			<%if current_user.try(:admin?)%>
				<%=link_to profile, :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
					<i class="fa fa-eye" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to edit_profile_path(profile), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
					<i class="fa fa-pencil" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to profile,method: :delete,data: {confirm: "Are You Sure?"},:title=>"Delete", :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
					<i class="fa fa-trash-o" style="font-size: 15px;color:white"></i>
				<%end%>

			<%else%>
			   <%=link_to profile,:title=>"View",:class=>"tooltips" do %>
						<i class="fa fa-eye"></i>
				 <%end%>
      <%end%>
    </td>
  </tr>
</tbody>
<%end%>
