
<div class="row">
    <div class="col-md-5">
      <%if @profile.image.blank?%>
        <img src="/image_placeholder.jpg" alt="">
      <%else%>
        <%=image_tag(@profile.image)%>
      <%end%>
    </div>
    <div class="col-md-7">

        <h4>Full Name</h4>
        <div class="small text-muted">
          <%=full_name(@profile)%>
        </div>
        <hr>

        <h4>Job Title</h4>
        <div class="small text-muted">
          <%=@profile.job_title%>
        </div>
        <hr>

        <h4>E-mail</h4>
        <div class="small text-muted">
          <%=@profile.email%>
        </div>
        <hr>

        <h4>Address</h4>
        <div class="small text-muted">
          <%=@profile.address%>
        </div>
        <hr>

        <h4>Location</h4>
        <div class="small text-muted">
          <%=@profile.location%>
        </div>
        <hr>

        <h4>CV</h4>
        <div class="small text-muted">
          <%=@profile.cv%>
        </div>
        <hr>

        <h4>Description</h4>
        <div class="small text-muted">
          <%=@profile.description%>
        </div>
        <hr>

      <div>
        <div class="btn-group">
          <% if current_user.try(:admin?) %>
            <%= link_to edit_profile_path, :class => 'btn btn-primary btn-sm',:rel=>"tooltip",:title=>"Edit",:style=>"margin-right:10px;" do %>
              <i class="fa fa-pencil" style="font-size: 15px;"></i> Edit Product
            <% end %>

            <%= link_to @product,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm',:rel=>"tooltip",:title=>"Delete" do %>
              <i class="fa fa-trash-o" style="font-size: 15px;"></i> Delete
            <% end %>

          <%end%>
        </div>
      </div>
    </div>
</div>
