<div class="nested-fields row">
  <div class="col-md-10">
    <%= f.input_field :skill_name, :class=>"form-control",size:"20", :style=>"margin-left: 15px;", placeholder: "Skill" %>
    <br>
  </div>

  <div class="col-md-2">

    <%= link_to_remove_association(f) do %>
      <i class="fa fa-remove"></i>
    <%end%>
  </div>

</div>
