<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@blogs.each do |blog|%>
<tbody>
  <tr>
    <td><%=blog.id%></td>
    <td><%=blog.title%></td>
    <td><%=blog.description%></td>
    <td style="width: 20%;"><%=image_tag(blog.image, :class=>"img-table-data")%></td>
    <td><%=blog.cate_blog.category_name%></td>
    <td class="table-action text-right">
      <%if current_user.try(:admin?)%>
        <%=link_to blog, :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
          <i class="fa fa-eye" style="font-size: 15px;color:white"></i>
        <%end%>
        <%=link_to edit_blog_path(blog), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
          <i class="fa fa-pencil" style="font-size: 15px;color:white"></i>
        <%end%>
        <%=link_to blog,method: :delete,data: {confirm: "Are You Sure?"},:title=>"Delete", :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
          <i class="fa fa-trash-o" style="font-size: 15px;color:white"></i>
        <%end%>

      <%else%>
         <%=link_to blog,:title=>"View",:class=>"tooltips" do %>
            <i class="fa fa-eye"></i>
         <%end%>
      <%end%>
    </td>
  </tr>
</tbody>
<%end%>
