
<div class="row">
    <div class="col-md-5">
      <%=image_tag(@blog.image)%>
    </div>
    <div class="col-md-7">

        <h2 class="font-bold m-b-xs">
        </h2>
        <hr>

        <h4>Title</h4>
        <div class="small text-muted">
          <%=@blog.title%>
        </div>
        <hr>

        <h4>Description</h4>
        <div class="small text-muted">
          <%=@blog.description%>
        </div>
        <hr>

        <h4>Category</h4>
        <div class="small text-muted">
          <%=@blog.cate_blog.category_name%>
        </div>
        <hr>

    </div>
</div>
