<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@portfolios.each do |portfolio|%>
<tbody>
  <tr>
    <td><%=portfolio.id%></td>
    <td><%=portfolio.title%></td>
    <td><%=portfolio.description%></td>
    <td><%=portfolio.tool%></td>
    <td style="width:20%;"><%=image_tag(portfolio.image,:class=>"img-table-data")%></td>
    <td class="table-action text-right">
			<%if current_user.try(:admin?)%>
				<%=link_to portfolio, :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
					<i class="fa fa-eye" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to edit_portfolio_path(portfolio), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
					<i class="fa fa-pencil" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to portfolio,method: :delete,data: {confirm: "Are You Sure?"},:title=>"Delete", :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
					<i class="fa fa-trash-o" style="font-size: 15px;color:white"></i>
				<%end%>

			<%else%>
			   <%=link_to portfolio,:title=>"View",:class=>"tooltips" do %>
						<i class="fa fa-eye"></i>
				 <%end%>
      <%end%>
    </td>
  </tr>
</tbody>
<%end%>
