<%= render "shared/style/1.material-design-iconic-font.min.html.erb"%>
<%= render "shared/style/2.ionicons.min.html.erb"%>
<%= render "shared/style/3.material.min.html.erb"%>
<%= render "shared/style/4.owl.carousel.min.html.erb"%>
<%= render "shared/style/5.owl.theme.default.min.html.erb"%>
<%= render "shared/style/6.magnific-popup.html.erb"%>
<%= render "shared/style/7.sweet-alert.min.html.erb"%>
<%= render "shared/style/8.ie9.html.erb"%>
<%= render "shared/style/9.1.animate.min.html.erb"%>
<%= render "shared/style/9.common.html.erb"%>
<%= render "shared/style/10.main.html.erb"%>
