<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@skills.each do |skill|%>
<tbody>
  <tr>
    <td><%=skill.id%></td>
    <td><%=skill.skill_name%></td>
    <td><%=skill.percentage%></td>
    <td class="table-action text-right">
			<%if current_user.try(:admin?)%>
				<%=link_to skill, :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
					<i class="fa fa-eye" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to edit_skill_path(skill), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
					<i class="fa fa-pencil" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to skill,method: :delete,data: {confirm: "Are You Sure?"},:title=>"Delete", :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
					<i class="fa fa-trash-o" style="font-size: 15px;color:white"></i>
				<%end%>

			<%else%>
			   <%=link_to skill,:title=>"View",:class=>"tooltips" do %>
						<i class="fa fa-eye"></i>
				 <%end%>
      <%end%>
    </td>
  </tr>
</tbody>
<%end%>
