
<div class="row">
    <div class="col-md-12">
        <h2 class="font-bold m-b-xs">
        </h2>
        <hr>

        <h4>Category Name</h4>
        <div class="small text-muted">
          <%=@skill.skill_name%>
        </div>

        <h4>Percentage</h4>
        <div class="small text-muted">
          <%=@skill.percentage%>
        </div>

        <div class="btn-group">
          <% if current_user.try(:admin?) %>
            <%= link_to edit_skill_path, :class => 'btn btn-primary btn-sm',:rel=>"tooltip",:title=>"Edit",:style=>"margin-right:10px;" do %>
              <i class="fa fa-pencil" style="font-size: 15px;"></i> Edit Skill
            <% end %>

            <%= link_to @skill,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm',:rel=>"tooltip",:title=>"Delete" do %>
              <i class="fa fa-trash-o" style="font-size: 15px;"></i> Delete
            <% end %>

          <%end%>
        </div>

    </div>
</div>
