<div class="leftpanel">
  <div class="media profile-left">
    <%if user_signed_in?%>
      <%=link_to users_path,:class=>"pull-left profile-thumb" do%>
      <%if current_user.image.blank?%>
        <img class="img-circle" src="/profile.png" alt="">
      <%else%>
        <img class="img-circle" src="<%=current_user.image%>" alt="">
      <%end%>
    <%end%>

    <div class="media-body">

      <h4 class="media-heading"><%=current_user.username%></h4>
        <span class="user-options">
          <%=link_to users_path do%>
            <i class="glyphicon glyphicon-user"></i>
          <%end%>
          <%=link_to edit_user_registration_path do%>
            <i class="glyphicon glyphicon-cog"></i>
          <%end%>
          <%=link_to destroy_user_session_path do%>
            <i class="glyphicon glyphicon-log-out"></i>
          <%end%>

        </span>
    </div>
    <%end%>

  </div><!-- media -->


  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <%=link_to dashboard_page_path do%>
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      <%end%>
    </li>
    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Profile</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Profile", new_profile_path%>
          </li>
          <li>
            <%=link_to "Profile List", profiles_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Profile List", profiles_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Skill</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Skill", new_skill_path%>
          </li>
          <li>
            <%=link_to "Skill List", skills_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Profile List", skills_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Resume</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Resume", new_resume_path%>
          </li>
          <li>
            <%=link_to "Add Category", new_category_resume_path%>
          </li>
          <li>
            <%=link_to "Resume List", resumes_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Resume List", resumes_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Portfolio</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Resume", new_portfolio_path%>
          </li>
          <li>
            <%=link_to "Add Category", new_category_portfolio_path%>
          </li>
          <li>
            <%=link_to "Resume List", portfolios_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Resume List", portfolios_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>My Team</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Team", new_team_path%>
          </li>
          <li>
            <%=link_to "Team List", teams_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Team List", teams_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Blog</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add New Blog", new_blog_path%>
          </li>
          <li>
            <%=link_to "Add Category", new_cate_blog_path%>
          </li>
          <li>
            <%=link_to "Blog List", blogs_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Blog List", blogs_path%>
          </li>
        <%end%>

      </ul>
    </li>

  </ul>
</div><!-- leftpanel -->
