<header>
  <div class="headerwrapper">
    <div class="header-left">
      <a href="/admin" class="logo">
        <h4 class="admin-logo"><img src="/logo.png" alt=""> Administrator </h4>

      </a>

      <div class="pull-right">
        <a href="#" class="menu-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div><!-- header-left -->

    <div class="header-right">
      <div class="pull-right">
        <!-- <form class="form form-search" action="http://www.ravijaiswal.com/Moldavite/search-results.html">
          <input type="search" class="form-control" placeholder="Search" />
        </form> -->

        <div class="btn-group btn-group-option">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%if user_signed_in?%>
              <%if current_user.image.blank?%>
                  <img class="img-circle avatar-img" alt="" src="/profile.png">
                <%else%>
                  <img class="img-circle avatar-img" alt="" src="<%=current_user.image%>">
              <%end%>
              <%else%>
            <%end%>
        		<span class="user-name"><%=current_user.username%></span>
        		<i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>
                <li>
                  <%= link_to current_user do %>
                    <i class="glyphicon glyphicon-user"></i>
                    My Profile
                  <%end%>
                  </li>
              <% end %>
            <% end %>

              <% if user_signed_in? %>
                <li>
                  <%= link_to edit_user_registration_path do %>
                    <i class="glyphicon glyphicon-cog"></i>
                    Change Password
                  <%end%>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, :method => 'delete' do %>
                    <i class="glyphicon glyphicon-log-out"></i>
                    Sign Out
                  <%end%>
                </li>
              <% else %>

              <% end %>
          </ul>
        </div><!-- btn-group -->
      </div><!-- pull-right -->
    </div><!-- header-right -->
  </div><!-- headerwrapper -->
</header>
