<footer class="footer">
    <section class="footer__top">
        <div class="container">
            <div class="footer__top__inner text-center">
                <a href="index-2.html" class="m-b-xxs-30 m-b-md-40 wow fadeInDownSmall"><img src="img/logo/footer-logo.png" alt="footer-logo"></a>
                <ul>
                    <li class="wow fadeInUpSmall"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li class="wow fadeInUpSmall" data-wow-delay=".1s"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li class="wow fadeInUpSmall" data-wow-delay=".2s"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                    <li class="wow fadeInUpSmall" data-wow-delay=".3s"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__text text-center">
                <p>Chhouk Tit Panhara &copy; 2017-2018. All Rights Reserved.</p>
            </div>
        </div>
    </section>
</footer>
<button id="backToTop" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect back-to-top shade-on hide-right"><i class="fa fa-angle-down"></i></button>
