<%=render "navigation"%>
    <section class="banner banner--small section-main overflow-hidden">
        <div class="bg-parallax" data-top="transform: translate3d(0px, 0px, 0px); opacity: 1;" data-top-bottom="transform: translate3d(0px, 250px, 0px); opacity: 0;"></div>
        <div class="banner__v-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner__content">
                            <div class="banner__content__text">
                                <h2 class="wow fadeInLeftSmall">Blog Standard</h2>
                                <p class="wow fadeInLeftSmall" data-wow-delay=".3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, est.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="blog-posts section-main section-padding section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-7 col-md-8">
                            <div class="row">
                                <div id="blog-posts-mesonary">

                                  <%@blogs.each do |blog|%>
                                    <article class="col-xxs-12 single-blog-post">
                                        <div class="mdl-card jumbo-shadow mdl-shadow--2dp">
                                            <div class="post-thumb-wrap"><img alt="Blog 1 Thumb" src="<%=blog.image%>">
                                                <div class="post-meta-info"><span class="post-meta-date"><%=blog.created_at%></span></div>
                                            </div>
                                            <div class="post-content-wrap">
                                                <h2 class="mdl-card__title-text mdl-card__title-content"><%=link_to blog.title, news_path(blog)%></a></h2>
                                                <div class="mdl-card__supporting-text">
                                                    <p><%=blog.description%></p>
                                                </div>
                                            </div>
                                            <div class="mdl-card__actions mdl-card--border"><a class="blog-comments" href="javascript:void(0)">5 Comments</a> <a class="blog-share" id="post-3"><i class="zmdi zmdi-share"></i></a>
                                                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect post-share-media js-post-share-media" data-for="post-3">
                                                    <li class="fb"><a href="single/single.html"><i class="zmdi zmdi-facebook-box"></i> <span>Facebook</span></a></li>
                                                    <li class="tw"><a href="single/single.html"><i class="zmdi zmdi-twitter-box"></i> <span>Twitter</span></a></li>
                                                    <li class="gplus"><a href="single/single.html"><i class="zmdi zmdi-google-plus-box"></i> <span>GooglePlus</span></a></li>
                                                    <li class="lin"><a href="single/single.html"><i class="zmdi zmdi-linkedin-box"></i> <span>LinkedIn</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                  <%end%>


                                </div>
                            </div>
                            <div class="text-center post-loader m-t-xs-30">
                                <a href="javascript:void(0)"><img src="../img/loadar.png" alt="loader"></a>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <aside class="sidebar">
                                <div class="sidebar__widget sidebar__widget--recent-posts">
                                    <h4 class="sidebar__widget__title">Recent Posts</h4>
                                    <ul>
                                      <%@recent.each do |recent|%>
                                        <li><%=link_to recent.title%><span><%=recent.created_at%></span></li>
                                      <%end%>

                                    </ul>
                                </div>
                                <div class="sidebar__widget sidebar__widget--categories">
                                    <h4 class="sidebar__widget__title">Categories</h4>
                                    <ul>
                                      <%@category.each do |category|%>
                                        <li><%=link_to category.category_name, "#"%></li>
                                      <%end%>
                                    </ul>
                                </div>

                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%=render "footer"%>
