<%=render "navigation"%>
    <section class="banner banner--small section-main overflow-hidden">
        <div class="bg-parallax" data-top="transform: translate3d(0px, 0px, 0px); opacity: 1;" data-top-bottom="transform: translate3d(0px, 250px, 0px); opacity: 0;"></div>
        <div class="banner__v-center">
            <div class="container">
                <div class="row">
                    <div class="col-xxs-12">
                        <div class="banner__content banner__content--2">
                            <div class="banner__content__text">
                                <h2 class="wow fadeInLeftSmall">Blog</h2>
                                <p class="wow fadeInLeftSmall" data-wow-delay=".3s">No Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-main section-padding section single-blog-post-content-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="single-blog-post-content"><img class="img-responsive" src="<%=@blog.image%>" alt="single-blog-post-content-image">
                                <h3><%=@blog.title%></h3>
                                <p><%=@blog.description%></p>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <aside class="sidebar">
                                <div class="sidebar__widget sidebar__widget--recent-posts">
                                    <h4 class="sidebar__widget__title">Recent Posts</h4>
                                    <ul>
                                        <li><a href="javascript:void(0)">We support any type of design</a> <span>October 24, 2015</span></li>
                                    </ul>
                                </div>
                                <div class="sidebar__widget sidebar__widget--categories">
                                    <h4 class="sidebar__widget__title">Categories</h4>
                                    <ul>
                                        <li><a href="javascript:void(0)">Google design</a></li>

                                    </ul>
                                </div>
                              
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%=render "footer"%>
