<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@category_resumes.each do |category|%>
<tbody>
  <tr>
    <td><%=category.id%></td>
    <td><%=category.category_name%></td>
  </tr>
</tbody>
<%end%>
