
<div class="row">
    <div class="col-md-12">
        <h2 class="font-bold m-b-xs">
        </h2>
        <hr>

        <h4>Category Name</h4>
        <div class="small text-muted">
          <%=@category_resume.category_name%>
        </div>



    </div>
</div>
