
<div id="about" class="section-main section">
    <section class="profile p-t-md-140 p-b-md-140 p-t-sm-100 p-b-sm-100 p-t-xxs-60 p-b-xxs-60">
        <div class="container">
            <div class="row">
              <%@about.limit(1).each do |about|%>
                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <div class="profile__picture"><img src="<%=about.image%>" alt="profile-picture"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="p-l-md-30">
                        <div class="profile__short-desc m-b-xxs-30 m-t-xxs-30 m-t-sm-0 m-t-lg-25">
                            <h2 class="m-b-xxs-25 wow fadeInDownSmall">Hello,</h2>
                            <p class="p-b-xxs-20">I’m <%=full_name(about)%>. <%=about.description%></p>
                        </div>
                        <div class="profile__about">
                            <ul>
                                <li><span>Name:</span> <%=full_name(about)%></li>
                                <li><span>Job Title:</span> <%=about.job_title%></li>
                                <li><span>Age:</span> <%=about.age%></li>
                                <li><span>Location:</span> <%=about.location%></li>
                            </ul>
                            <div class="profile__about__buttons m-t-xxs-15"><a href="javascript:void(0)" class="mdl-button mdl-js-button mdl-js-ripple-effect wow fadeInLeftSmall"><i class="zmdi zmdi-download"></i> Download CV </a><a href="#contact" class="mdl-button mdl-button--gray mdl-js-button mdl-js-ripple-effect menu-smooth-scroll wow fadeInLeftSmall" data-wow-delay=".15s"><i class="zmdi zmdi-mail-send"></i> Hire Me</a></div>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </section>
  <%= render "skill"%>
</div>
