<section id="home" class="banner section-main overflow-hidden section">
    <div class="bg-parallax" data-top="transform: translate3d(0px, 0px, 0px); opacity: 1;" data-top-bottom="transform: translate3d(0px, 250px, 0px); opacity: 0;"></div>
    <div class="banner__v-center">
        <div class="container">
            <div class="row">
                <div class="col-xxs-12">
                    <div class="banner__content">
                        <div class="db wow fadeInUpSmall">
                            <%@banners.limit(1).each do |banner|%>
                            <h1 class="panhara-banner-name"><span>Hi, I am</span> <%=full_name(banner.profile)%></h1>
                        </div>
                            <%end%>
                        <ul class="wow fadeInUpSmall" data-wow-delay=".15s">

                          <%@banners.each do |banner|%>
                            <li class="hidden-xxs"><span>-</span><%=banner.skill_name%> </li>
                          <%end%>

                        </ul>
                        <div class="db m-t-xxs-20 m-t-xs-30 m-t-sm-60 wow fadeInUpSmall" data-wow-delay=".3s"><a href="#about" class="mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect menu-smooth-scroll">Get to know me</a></div><a href="https://www.youtube.com/watch?v=kQT2y3UiosQ" class="popup-youtube m-t-xxs-20 m-t-xs-30 m-t-sm-60 wow fadeInUpSmall" data-wow-delay=".45s"><i class="zmdi zmdi-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
