<section class="fun-fact overflow-hidden">
    <div class="bg-parallax" data-center="transform: translate3d(0px, -50%, 0px)" data-top-bottom="transform: translate3d(0px, -25%, 0px)" data-bottom-top="transform: translate3d(0px, -75%, 0px)"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="single-fun m-b-xxs-60 m-b-md-0 wow fadeInUpMedium">
                    <div class="single-fun__fact">
                        <div class="single-fun__fact__number"><i class="zmdi zmdi-case-check"></i> <span class="single-fun__fact__number__counter">758</span></div>
                        <h4>Project Completed</h4></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="single-fun m-b-xxs-60 m-b-md-0 wow fadeInUpMedium" data-wow-delay=".15s">
                    <div class="single-fun__fact">
                        <div class="single-fun__fact__number"><i class="zmdi zmdi-mood"></i> <span class="single-fun__fact__number__counter">254</span></div>
                        <h4>Happy Customer</h4></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="single-fun m-b-xxs-60 m-b-xs-0 wow fadeInUpMedium" data-wow-delay=".3s">
                    <div class="single-fun__fact">
                        <div class="single-fun__fact__number"><i class="zmdi zmdi-time"></i> <span class="single-fun__fact__number__counter">5830</span></div>
                        <h4>Working Hours</h4></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="single-fun wow fadeInUpMedium" data-wow-delay=".45s">
                    <div class="single-fun__fact">
                        <div class="single-fun__fact__number"><i class="zmdi zmdi-email"></i> <span class="single-fun__fact__number__counter">623</span></div>
                        <h4>Great Feedbacks</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="blog-posts section-padding section-main">
    <div class="container">
        <div class="section-heading text-center m-b-xxs-60 m-b-md-80">
            <h2 class="wow fadeInUpSmall">Blog Post</h2>
            <h3 class="wow fadeInUpSmall" data-wow-delay=".15s">Let's share the latest posts and best articles.</h3></div>
        <div class="row">
            <div id="blog-posts-mesonary">
              <%@blogs.each do |blog|%>
                  <article class="col-xxs-12 col-sm-6 col-md-4 single-blog-post quote-post">
                      <div class="mdl-card mdl-shadow--2dp jumbo-shadow">
                          <div class="post-content-wrap">
                              <div class="mdl-card__supporting-text">
                                  <p class="mdl-card__title-content"><a href="blog/single/single-quote.html"><%=blog.title%>.</a></p><i class="zmdi zmdi-quote"></i>
                                  <div class="post-meta-info"><span class="post-meta-date">Dr. Seuss</span></div>
                              </div>
                          </div>
                          <div class="mdl-card__actions mdl-card--border"><a class="blog-comments" href="javascript:void(0)">5 Comments</a> <a class="blog-share" id="post-1"><i class="zmdi zmdi-share"></i></a>
                              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect post-share-media js-post-share-media" data-for="post-1">
                                  <li class="fb"><a href="blog/single/single-quote.html"><i class="zmdi zmdi-facebook-box"></i> <span>Facebook</span></a></li>
                                  <li class="tw"><a href="blog/single/single-quote.html"><i class="zmdi zmdi-twitter-box"></i> <span>Twitter</span></a></li>
                                  <li class="gplus"><a href="blog/single/single-quote.html"><i class="zmdi zmdi-google-plus-box"></i> <span>GooglePlus</span></a></li>
                                  <li class="lin"><a href="blog/single/single-quote.html"><i class="zmdi zmdi-linkedin-box"></i> <span>LinkedIn</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </article>
                <%end%>
              </div>
            <div class="text-center view-blog-post m-t-xs-30 wow fadeInUpSmall" data-wow-duration="1s"><a class="mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect" href="blog/blog-standard.html" target="_blank">View all</a></div>
        </div>
    </div>
</section>
