
<section class="contact-address overflow-hidden">
    <div class="bg-parallax" data-center="transform: translate3d(0px, -50%, 0px)" data-top-bottom="transform: translate3d(0px, -25%, 0px)" data-bottom-top="transform: translate3d(0px, -75%, 0px)"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-address wow fadeInLeftSmall">
                    <div class="single-address__icon"><i class="zmdi zmdi-phone"></i></div>
                    <div class="single-address__text">
                        <h4>Call Me</h4><span>0088-016166-123465</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-address wow fadeInLeftSmall" data-wow-delay=".15s">
                    <div class="single-address__icon"><i class="zmdi zmdi-email"></i></div>
                    <div class="single-address__text">
                        <h4>Email</h4><span>itsekhtiar@gmail.com</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-address wow fadeInLeftSmall" data-wow-delay=".3s">
                    <div class="single-address__icon"><i class="zmdi zmdi-pin"></i></div>
                    <div class="single-address__text">
                        <h4>Address</h4><span>New street, Florida, USA</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact-form section-main section-padding section">
    <div class="container">
        <div class="section-heading text-center m-b-xxs-60 m-b-md-80">
            <h2 class="wow fadeInUpSmall">Say Hello</h2>
            <h3 class="wow fadeInUpSmall" data-wow-delay=".15s">Ready to keep in touch with me for amazing things?.</h3></div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <form id="contactForm" class="personx-form-valid wow fadeInUpSmall" action="#">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mdl-textfield mdl-js-textfield m-b-xxs-15 m-b-sm-0">
                                <input id="name" class="mdl-textfield__input" name="name" type="text" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mdl-textfield mdl-js-textfield m-b-xxs-15 m-b-sm-0">
                                <input id="email" class="mdl-textfield__input" type="email" name="email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input id="subject" class="mdl-textfield__input" type="text" name="subject" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mdl-textfield mdl-textfield--textarea mdl-js-textfield">
                                <textarea id="message" class="mdl-textfield__input" type="text" name="message" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center m-t-xxs-30 m-t-sm-60">
                                <button class="mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect" disabled="disabled">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="map section">
    <div class="map__content">
        <div class="map__buttons">
            <button type="button" id="map-open" class="mdl-button mdl-button--map"><i class="zmdi zmdi-chevron-down"></i> <span>Locate On The Map</span></button>
            <button type="button" id="map-close" class="mdl-button mdl-button--map"><i class="zmdi zmdi-chevron-up"></i> <span>Close The Map</span></button>
        </div>
        <div class="map-wrapper">
            <div id="map"></div>
        </div>
    </div>
</div>
