<div id="loader" class="preloader">
    <div class="preloader__inner"></div>
</div>

<div class="mobile-menu-trigger visible-sm visible-xs visible-xxs">
    <button class="hamburger hamburger--spin" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
</div>

<header class="site-navbar">
    <a href="index-2.html" class="site-logo"><img class="site-logo__image-1" src="logo1.png" alt="logo-1"> <img class="site-logo__image-2" src="logo2.png" alt="logo-2"></a>
    <nav class="site-nav hidden-xxs hidden-xs hidden-sm">
        <ul class="cl-effect-5">
            <li><a href="#about" class="menu-smooth-scroll"><span data-hover="About"><span>About</span></span></a></li>
            <li><a href="#resume" class="menu-smooth-scroll"><span data-hover="Resume"><span>Resume</span></span></a></li>
            <li><a href="#services" class="menu-smooth-scroll"><span data-hover="Services"><span>Services</span></span></a></li>
            <li><a href="#portfolio" class="menu-smooth-scroll"><span data-hover="Portfolio"><span>Portfolio</span></span></a></li>
            <li><a href="#blog" class="menu-smooth-scroll"><span data-hover="Blog"><span>Blog</span></span></a></li>
            <li><a href="#contact" class="menu-smooth-scroll"><span data-hover="Contact"><span>Contact</span></span></a></li>

            <li class="dropdown-item"><a href="javascript:void(0)"><span data-hover="News"><span>News</span></span></a>
                <ul class="dropdown-menu">
                    <li><%=link_to "Blog", news_index_path%></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
