<section id="portfolio" class="portfolio section-main section-padding section">
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="wow fadeInUpSmall">My Portfolio</h2>
        </div>
        <br><br><br><br>
        <div data-portfolio-url="portfolio/for-ajax-load/more-portfolio.html" data-action="portfolio">

            <div class="row">
                <div class="protfolio-items">
                  <%@portfolios.each do |portfolio|%>
                    <div id="portfolio-01" class="col-xxs-12 col-xs-12 col-sm-4 col-md-4 single-portfolio">
                        <div class="portfolio-item wow fadeInUpSmall">
                          <%if portfolio.image.blank?%>
                            <a href="" class="portfolio-custom-popup"><img src="image_placeholder.jpg" alt="portfolio-thumb-1">
                            <%else%>
                            <a href="" class="portfolio-custom-popup"><img src="<%=portfolio.image%>" alt="portfolio-thumb-1">
                          <%end%>
                              <div class="portfolio-text"><i class="zmdi zmdi-plus"></i>
                                <h4><%=portfolio.title%></h4>
                                <h5><%=portfolio.category_portfolio.category_name%></h5>
                              </div>
                            </a>
                        </div>
                    </div>
                  <%end%>
                </div>
                <div data-action="portfolioInitItem" class="portfolio-ajax-hidden-div"></div>
                <div class="load-portfolio text-center m-t-xxs-15 m-t-sm-45 wow fadeInUpSmall" data-wow-duration="1s">
                    <button data-action="portfolioLoadItem" class="mdl-button mdl-button--large mdl-js-button mdl-js-ripple-effect">Load More</button>
                </div>
            </div>
        </div>
    </div>
</section>
