<section id="resume" class="resume section-padding section-main section">
    <div class="container">
        <div class="section-heading text-center m-b-md-80 m-b-xxs-30 m-b-sm-45">
            <h2 class="wow fadeInUpSmall">My Resume</h2>
            <h3 class="wow fadeInUpSmall" data-wow-delay=".15s">Previous associations that helped to gather experience.</h3></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect resume-mdl-tabs">
                    <div class="mdl-tabs__tab-bar">
                      <%@category_resumes.each do |category|%>
                        <a href="#<%=category.category_name.downcase%>-panel" class="mdl-tabs__tab is-active"><i class="zmdi zmdi-case"></i> <%=category.category_name%> </a>
                      <%end%>
                    </div>

                    <div class="mdl-tabs__wrapper wow fadeInUpSmall">

                        <div class="mdl-tabs__panel is-active" id="experience-panel">
                            <div class="row resume-masonry">
                              <%@experience.each do |experience|%>
                                <div class="col-sm-6 resume-masonry__item">
                                    <div class="card">
                                        <div class="card__header">
                                            <div class="card__header__left">
                                                <div class="card__header__left__icon h-center">
                                                    <div class="v-center"><i class="zmdi zmdi-google"></i></div>
                                                </div>
                                                <div class="card__header__left__text">
                                                    <h4><%=experience.title%></h4>
                                                    <p><%=experience.position%></p>
                                                </div>
                                            </div>
                                            <div class="card__header__right"><span><%=experience.start_time%> - <%=experience.current_time%></span></div>
                                        </div>
                                        <div class="card__body">
                                            <p><%=experience.description%></p>
                                        </div>
                                    </div>
                                </div>
                                <%end%>
                            </div>
                        </div>

                        <div class="mdl-tabs__panel" id="education-panel">
                            <div class="row resume-masonry">
                              <%@education.each do |edu|%>
                                <div class="col-sm-6 resume-masonry__item">
                                    <div class="card">
                                        <div class="card__header">
                                            <div class="card__header__left">
                                                <div class="card__header__left__icon h-center">
                                                    <div class="v-center"><i class="zmdi zmdi-book"></i></div>
                                                </div>
                                                <div class="card__header__left__text">
                                                    <h4><%=edu.title%></h4>
                                                    <p><%=edu.position%></p>
                                                </div>
                                            </div>
                                            <div class="card__header__right"><span><%=edu.start_time%> - <%=edu.current_time%></span></div>
                                        </div>
                                        <div class="card__body">
                                            <p><%=edu.description%></p>
                                        </div>
                                    </div>
                                </div>
                              <%end%>
                            </div>
                        </div>

                        <div class="mdl-tabs__panel" id="award-panel">
                            <div class="row resume-masonry">
                              <%@award.each do |award|%>
                                <div class="col-sm-6 resume-masonry__item">
                                    <div class="card">
                                        <div class="card__header">
                                            <div class="card__header__left">
                                                <div class="card__header__left__icon h-center">
                                                    <div class="v-center"><i class="zmdi zmdi-graduation-cap"></i></div>
                                                </div>
                                                <div class="card__header__left__text">
                                                    <h4><%=award.title%></h4>
                                                    <p><%=award.position%></p>
                                                </div>
                                            </div>
                                            <div class="card__header__right">
                                              <span>
                                                <%if award.category.category_name == "Award" %>
                                                  <%=award.current_time%>
                                                <%end%>
                                              </span>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <p><%=award.description%></p>
                                        </div>
                                    </div>
                                </div>
                              <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
