
<div id="services" class="services section-main section-padding overflow-hidden section">
    <div class="bg-parallax" data-center="transform: translate3d(0px, -50%, 0px)" data-top-bottom="transform: translate3d(0px, -25%, 0px)" data-bottom-top="transform: translate3d(0px, -75%, 0px)"></div>
    <div class="container">
        <div class="section-heading section-heading--white text-center m-b-md-80 m-b-xxs-30 m-b-sm-45">
            <h2 class="wow fadeInUpSmall">Services</h2>
            <h3 class="wow fadeInUpSmall" data-wow-delay=".15s">What service i provide to my customers.</h3>
        </div>

        <div class="service-slider owl-carousel" data-owl-options='{"margin":30,"loop":false,"smartSpeed":900,"autoplay":false,"autoplaySpeed":900,"autoplayTimeout":3000,"dots":false,"nav":true,"navSpeed":900,"responsiveClass":true,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>
          <%@services.each do |service|%>
            <div class="single-service wow fadeInUp"><i class="zmdi zmdi-laptop-chromebook"></i>
                <h4><%=service.title%></h4>
                <p><%=service.description%></p>
            </div>
          <%end%>
        </div>
    </div>
</div>
