<section class="skills section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                <div class="section-heading section-heading--left m-b-sm-60 m-b-xxs-30 m-b-md-0">
                    <h2 class="wow fadeInLeftSmall">My Skills</h2>
                    <p class="wow fadeInLeftSmall" data-wow-delay=".2s">I’m Chhouk Tit Panhara. I builded this site so you can get my infomation and to know me on a personal level. My job as a Rails Developer</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">

                <div class="skill-slider owl-carousel" data-owl-options='{"margin":20,"loop":false,"smartSpeed":900,"dots":false,"nav":true,"navSpeed":900,"responsiveClass":true,"responsive":{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":2},"1200":{"items":3}}}'>
                  <%@skills.each do |skill|%>
                    <div class="single-skill text-center wow fadeInUp">
                        <div class="single-skill__v-center"><i class="zmdi zmdi-drink"></i>
                            <div class="progress-bar">
                                <h4 class="progress-bar__label"><%=skill.skill_name%> - <span><%=skill.percentage%>%</span></h4>
                                <div class="progress-bar__bar">
                                    <div class="progress-bar__bar__active"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</section>
