

<section id="team" class="team section-main section-padding">
    <div class="container">
        <div class="section-heading text-center m-b-xxs-30 m-b-sm-60 m-b-md-80">
            <h2 class="wow fadeInUpSmall">My Team</h2>
            <h3 class="wow fadeInUpSmall" data-wow-delay=".15s">Previous associations that helped to gather experience.</h3></div>
        <div class="team-slider owl-carousel" data-owl-options='{"margin":25,"smartSpeed":300,"responsiveClass":true,"responsive":{"0":{"items":1,"nav":true,"dots":false},"768":{"items":2,"nav":false,"dots":true},"992":{"items":3},"1200":{"items":4}}}'>
            <div class="member wow fadeInUp">
                <div class="member__image"><img src="img/team/member-1.jpg" alt="member-1"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>Steven Hackett</h4>
                        <h5>Founder &amp; CEO</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 90%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="90%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 70%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="70%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="member wow fadeInUp" data-wow-delay=".1s">
                <div class="member__image"><img src="img/team/member-2.jpg" alt="member-2"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>John Doe</h4>
                        <h5>Creative Head</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 60%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="60%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 70%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="70%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="member wow fadeInUp" data-wow-delay=".2s">
                <div class="member__image"><img src="img/team/member-3.jpg" alt="member-3"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>Steven Henderson</h4>
                        <h5>Web Developer</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 90%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="90%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 85%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="85%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="member wow fadeInUp" data-wow-delay=".3s">
                <div class="member__image"><img src="img/team/member-4.jpg" alt="member-4"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>Jane Smith</h4>
                        <h5>Sales Manager</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 70%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="70%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 90%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="90%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="member wow fadeInUp" data-wow-delay=".4s">
                <div class="member__image"><img src="img/team/member-5.jpg" alt="member-1"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>Steven Hackett</h4>
                        <h5>Founder &amp; CEO</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 90%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="90%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 70%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="70%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="member wow fadeInUp" data-wow-delay=".5s">
                <div class="member__image"><img src="img/team/member-6.jpg" alt="member-2"></div>
                <div class="member__info">
                    <div class="member__info__name-and-role">
                        <h4>John Doe</h4>
                        <h5>Creative Head</h5></div>
                    <div class="member__info__skills">
                        <ul>
                            <li><span class="progress-bar-label">Photoshop 60%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="60%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">Illustrator 70%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="70%"></div>
                                </div>
                            </li>
                            <li><span class="progress-bar-label">After Effect 80%</span>
                                <div class="progress-bar">
                                    <div class="progress-bar__active" data-percent="80%"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="member__info__social">
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
