<%= render "navigation"%>

<%= render "banner"%>

<%= render "about"%>

<%= render "resume"%>

<%= render "service"%>

<%= render "portfolio"%>

<%= render "blog"%>

<%= render "contact"%>

<%= render "footer"%>
