<section>

          <div class="panel panel-signin">
              <div class="panel-body">
                  <div class="logo text-center">
                      <img src="/logo.png" alt="Moldavite Logo" >
                  </div>
                  <br />
                  <h4 class="text-center mb5">Already a Member?</h4>
                  <p class="text-center">Sign in to your account</p>

                  <div class="mb30"></div>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="input-group mb15">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                          <%= f.email_field :email,autofocus: true,:class=>"form-control input-no-border",:placeholder=>"Email"%>
                      </div><!-- input-group -->
                      <div class="input-group mb15">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <%= f.password_field :password,autocomplete: 'off', class: 'form-control input-no-border', :placeholder=>"Password"%>
                      </div><!-- input-group -->

                      <div class="clearfix">
                          <div class="pull-left">
                              <div class="ckbox ckbox-primary mt10">

                                    <% if devise_mapping.rememberable? -%>
                                        <%= f.check_box :remember_me %>
                                        <%= f.label :remember_me %>
                                    <% end %>
                              </div>
                          </div>
                          <div class="pull-right">
                              <button type="submit" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                          </div>
                      </div>
                  <%end%>

              </div><!-- panel-body -->
              <div class="panel-footer">
                  <%=link_to "Not yet a Member? Create Account Now",new_user_registration_path, :class=>"btn btn-primary btn-block"%>
              </div><!-- panel-footer -->
          </div><!-- panel -->

      </section>
