<thead>
  <tr>
    <%@fields.each do |f|%>
      <th><%=f%></th>
    <%end%>
  </tr>
</thead>

<%@resumes.each do |resume|%>
<tbody>
  <tr>
    <td><%=resume.id%></td>
    <td><%=resume.title%></td>
    <td><%=resume.category_resume.category_name%></td>
    <td><%=resume.position%></td>
    <td><%=resume.start_time%></td>
    <td><%=resume.current_time%></td>
    <td><%=resume.description%></td>
    <td style="width:20%;"><%=image_tag(resume.image,:class=>"img-table-data")%></td>
    <td class="table-action text-right">
			<%if current_user.try(:admin?)%>
				<%=link_to resume, :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
					<i class="fa fa-eye" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to edit_resume_path(resume), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
					<i class="fa fa-pencil" style="font-size: 15px;color:white"></i>
				<%end%>
				<%=link_to resume,method: :delete,data: {confirm: "Are You Sure?"},:title=>"Delete", :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
					<i class="fa fa-trash-o" style="font-size: 15px;color:white"></i>
				<%end%>

			<%else%>
			   <%=link_to resume,:title=>"View",:class=>"tooltips" do %>
						<i class="fa fa-eye"></i>
				 <%end%>
      <%end%>
    </td>
  </tr>
</tbody>
<%end%>
