
<div class="row">
    <div class="col-md-5">
      <%=image_tag(@resume.image)%>
    </div>
    <div class="col-md-7">

        <h2 class="font-bold m-b-xs">
          <%=@resume.title%>
        </h2>
        <hr>

        <h4>NA</h4>
        <div class="small text-muted">
          <%=@resume.position%>
        </div>
        <hr>

        <h4>NA</h4>
        <div class="small text-muted">
          <%=@resume.start_time%>
        </div>
        <hr>

        <h4>NA</h4>
        <div class="small text-muted">
          <%=@resume.current_time%>
        </div>
        <hr>

        <h4>NA</h4>
        <div class="small text-muted">
          <%=@resume.description%>
        </div>
        <hr>
        <div class="btn-group">
          <% if current_user.try(:admin?) %>
            <%= link_to edit_resume_path, :class => 'btn btn-primary btn-sm',:rel=>"tooltip",:title=>"Edit",:style=>"margin-right:10px;" do %>
              <i class="fa fa-pencil" style="font-size: 15px;"></i> Edit Product
            <% end %>

            <%= link_to @resume,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm',:rel=>"tooltip",:title=>"Delete" do %>
              <i class="fa fa-trash-o" style="font-size: 15px;"></i> Delete
            <% end %>
          <%end%>
        </div>
    </div>
</div>
